@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Regular.woff') format('woff'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Medium.woff') format('woff'),
    url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('./assets/fonts/Roboto-Bold.woff') format('woff'),
    url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: local('OpenSans Regular'), local('OpenSans-Regular'),
    url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: local('OpenSans Bold'), local('OpenSans-Bold'),
    url('./assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  src: local('PlayfairDisplay Regular'), local('PlayfairDisplay-Regular'),
    url('./assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  src: local('PlayfairDisplay Bold'), local('PlayfairDisplay-Bold'),
    url('./assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('./assets/fonts/PlayfairDisplay-Bold.woff') format('woff'),
    url('./assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    color: #07484A;
    font-family: "OpenSans", sans-serif;
  }
}

@media speech {
  .fix {
    display: none;
  }
}